
body { font-family: Arial; margin:0; }
header { background:black; color:white; padding:15px; }
.hero { height:70vh; background:#333; color:white; text-align:center; padding-top:120px; }
.cars { padding:40px; display:flex; gap:20px; }
.card { box-shadow:0 0 10px #ccc; padding:10px; }
.card img { width:200px; height:130px; object-fit:cover; }
